.loader10{width:100px;height:100px;margin:50px auto;overflow:hidden;position:relative}
.loader10 span{display:inline-block;position:absolute;animation:loading-10 9s cubic-bezier(.45,.05,.55,.95) infinite}
.loader10 span:nth-child(1){background:#ff4b7d;animation-name:loading-10}
.loader10 span:nth-child(2){background:#3485ef;animation-name:loading-102}
.loader10 span:nth-child(3){background:#5fad56;animation-name:loading-103}
.loader10 span:nth-child(4){background:#e9573d;animation-name:loading-104}
@keyframes loading-10{
	0%,5%{width:25%;height:25%;border-radius:100% 0 0;background:#ff4b7d;bottom:50%;left:25%}
	10%{width:25%;height:25%;border-radius:100% 100% 0 0;background:#ff4b7d;bottom:50%;left:25%}
	13%,18%{width:25%;height:25%;border-radius:100% 100% 0 0;background:#5fad56;bottom:50%;left:12.5%}
	20%{width:32.5%;height:32.5%;border-radius:50%;background:#5fad56;bottom:50%;left:6.25%}
	25%,30%{width:25%;height:25%;border-radius:50%;background:#3485ef;bottom:62.5%;left:12.5%}
	35%{width:14%;height:10%;border-radius:999px;background:#ff4b7d;left:0;bottom:0}
	40%,60%{height:100%}
	55%{height:10%}
	70%{width:14%;height:25%;border-radius:999px;background:#ff4b7d;bottom:0;left:0}
	75%,97%{width:25%;height:25%;border-radius:100%;bottom:57.5%;left:17.5%}
	100%{width:50%;height:50%;border-radius:100%;bottom:25%;left:25%}
}
@keyframes loading-102{
	0%,5%{width:25%;height:25%;background:#ff4b7d;border-radius:0 0 0 100%;bottom:25%;left:25%}
	10%{width:25%;height:25%;background:#ff4b7d;border-radius:0 0 100% 100%;bottom:25%;left:25%}
	13%,18%{width:25%;height:25%;background:#5fad56;border-radius:0 0 100% 100%;bottom:25%;left:12.5%}
	20%{width:32.5%;height:32.5%;background:#5fad56;border-radius:50%;bottom:25%;left:6.25%}
	25%{width:25%;height:25%;background:#3485ef;border-radius:50%;bottom:12.5%;left:12.5%}
	30%{left:12.5%;bottom:12.5%;border-radius:50%;height:25%;width:25%;background:#3485EF}
	35%{left:28%;bottom:0;border-radius:999px;height:10%;width:14%;background:#3485EF}
	40%,60%{height:10%}
	45%,65%{height:100%}
	75%{left:28%;bottom:0;border-radius:999px;height:25%;width:14%;background:#3485EF}
	80%{left:17.5%;bottom:17.5%;border-radius:100%;height:25%;width:25%}
	97%{left:17.5%;bottom:17.5%;border-radius:100%;height:25%;width:25%;box-shadow:none}
	100%{box-shadow:-3px -3px 5px -5px #3485EF;border-radius:100%;left:25%;bottom:-50%;height:50%;width:50%}
}
@keyframes loading-103{
	0%,5%{left:50%;bottom:50%;border-radius:0 100% 0 0;height:25%;width:25%;background:#FF4B7D}
	10%{left:50%;bottom:50%;border-radius:100% 100% 0 0;height:25%;width:25%;background:#FF4B7D}
	13%,18%{left:62.5%;bottom:50%;border-radius:100% 100% 0 0;height:25%;width:25%;background:#5FAD56}
	20%{left:66.25%;bottom:50%;border-radius:50%;height:32.5%;width:32.5%;background:#5FAD56}
	25%,30%{left:62.5%;bottom:62.5%;border-radius:50%;height:25%;width:25%;background:#3485EF}
	35%{left:56%;bottom:0;border-radius:999px;height:10%;width:14%;background:#5FAD56}
	45%,65%{height:10%}
	50%,70%{height:100%}
	80%{left:56%;bottom:0;border-radius:999px;height:25%;width:14%;background:#5FAD56}
	85%{left:57.5%;bottom:57.5%;border-radius:100%;height:25%;width:25%}
	97%{left:57.5%;bottom:57.5%;border-radius:100%;height:25%;width:25%;box-shadow:none}
	100%{box-shadow:-3px -3px 5px -5px #5FAD56;border-radius:100%;left:100%;bottom:25%;height:50%;width:50%}
}
@keyframes loading-104{
	0%,5%{left:50%;bottom:25%;border-radius:0 0 100%;height:25%;width:25%;background:#FF4B7D}
	10%{left:50%;bottom:25%;border-radius:0 0 100% 100%;height:25%;width:25%;background:#FF4B7D}
	13%,18%{left:62.5%;bottom:25%;border-radius:0 0 100% 100%;height:25%;width:25%;background:#5FAD56}
	20%{left:66.25%;bottom:25%;border-radius:50%;height:32.5%;width:32.5%;background:#5FAD56}
	25%,30%{left:62.5%;bottom:12.5%;border-radius:50%;height:25%;width:25%;background:#3485EF}
	35%{left:84%;bottom:0;border-radius:999px;height:10%;width:14%;background:#e9573d}
	50%,70%{height:10%}
	55%,75%{height:100%}
	85%{left:84%;bottom:0;border-radius:999px;height:25%;width:14%;background:#E9573D}
	90%{left:57.5%;bottom:17.5%;border-radius:100%;height:25%;width:25%}
	97%{left:57.5%;bottom:17.5%;border-radius:100%;height:25%;width:25%;box-shadow:none}
	100%{box-shadow:-3px -3px 5px -5px #e9573d;border-radius:100%;left:100%;bottom:-50%;height:50%;width:50%}
}


.blueBg {
    background-color: rgb(2, 203, 252) !important;
    background-image: linear-gradient(to right, #0bd4a9, #25c1ff);
}

.pinkBg {
  background-color: #f3a6d9 !important;
  /* background-image: linear-gradient(to right, #da7d89, #be4a9c); */
}

.intro-banner-vdo-play-btn{
    height:60px;
    width:60px;
    position:absolute;
    top:50%;
    left:50%;
    text-align:center;
    margin:-30px 0 0 -30px;
    border-radius:100px;
    z-index:1
}
.intro-banner-vdo-play-btn i{
    line-height:56px;
    font-size:30px
}
.intro-banner-vdo-play-btn .ripple{
    position:absolute;
    width:160px;
    height:160px;
    z-index:-1;
    left:50%;
    top:50%;
    opacity:0;
    margin:-80px 0 0 -80px;
    border-radius:100px;
    -webkit-animation:ripple 1.8s infinite;
    animation:ripple 1.8s infinite
}

/* .mic-btn.intro-banner-vdo-play-btn .ripple{
    position:absolute;
    width:50px;
    height:30px;
    z-index:-1;
    left:50%;
    top:50%;
    opacity:0;
    margin:-80px 0 0 -80px;
    border-radius:100px;
    -webkit-animation:ripple 1.8s infinite;
    animation:ripple 1.8s infinite 
}*/

@-webkit-keyframes ripple{
    0%{
        opacity:1;
        -webkit-transform:scale(0);
        transform:scale(0)
    }
    100%{
        opacity:0;
        -webkit-transform:scale(2);
        transform:scale(2)
    }
}
@keyframes ripple{
    0%{
        opacity:1;
        -webkit-transform:scale(0);
        transform:scale(0)
    }
    100%{
        opacity:0;
        -webkit-transform:scale(2);
        transform:scale(2)
    }
}
.intro-banner-vdo-play-btn .ripple:nth-child(2){
    animation-delay:.3s;
    -webkit-animation-delay:.3s
}
.intro-banner-vdo-play-btn .ripple:nth-child(3){
    animation-delay:.6s;
    -webkit-animation-delay:.6s
}


  .mic-btn {
    background-color: #004A7F;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    font-size: 20px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
  }
  @-webkit-keyframes glowing {
    0% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; -webkit-box-shadow: 0 0 40px #FF0000; }
    100% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
  }
  
  @-moz-keyframes glowing {
    0% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; -moz-box-shadow: 0 0 40px #FF0000; }
    100% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
  }
  
  @-o-keyframes glowing {
    0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
    100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  }
  
  @keyframes glowing {
    0% { background-color: rgb(0, 166, 178); box-shadow: 0 0 3px rgba(0, 178, 178, 0.945); }
    50% { background-color: rgb(0, 204, 255); box-shadow: 0 0 40px rgba(0, 204, 255, 0.911); }
    100% { background-color: rgb(0, 142, 178); box-shadow: 0 0 3px rgba(0, 172, 178, 0.945); }
  }

  /* .mic-style{
    animation: fadeOut 3s ease-out;
  } */
/* 
  .mic-btn{
    animation: fade-in 1s ease-out;
  } */

  /* @keyframes fadeOut{
      0%{
          opacity: 0;
          transform: scale(1);
      }
      100%{
          opacity: 1;
          transform: scale(2);
      }
  } */