.cardColor{
  /* color: white; */
  background-image: '#3F8A9C';
}

.listColor{
  color: '#010D10';
}

.imgMargin{
  margin-top: -200px;
}

/* .back-G{
  background-image: url("http://www.dream-wallpaper.com/free-wallpaper/movie-wallpaper/the-dark-knight-rises-2012-wallpaper/1680x1050/free-wallpaper-12.jpg");
  background-color: #cccccc;
  height: 520px;
  width: 1080px
} */